Django>=4.2.0
djangorestframework

# API
openai>=1.0.0  # GPT API
python-telegram-bot>=20.0  # Telegram API

# Добавляем tiktoken для подсчета токенов GPT
tiktoken

# Production server
gunicorn>=21.0.0

# Database
psycopg2-binary>=2.9.0  # PostgreSQL adapter
dj-database-url>=2.0.0  # Database URL parsing